.idea/*
excelReader/target/*
*.iml
excelReader/*.classpath
excelReader/*.project
excelReader/*.settings
~*

ExcelReader/target/*
ExcelReader/*.classpath
ExcelReader/*.project
ExcelReader/*.settings
~*