<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="latex.tools.single.FileReader.Mapper.ISQLResultBean">
    <select id="selectOne"  resultType="latex.tools.single.FileReader.xmlBeans.SQLResultBean">
        select * from cib_cust_deposit where rybh='1'
    </select>
    <insert id="addSQLResult" parameterType="latex.tools.single.FileReader.xmlBeans.SQLResultBean">
        insert into cib_cust_deposit (yhmc,jgmc,khmc,nrj,sfyd,jglb,deposittype,depositmonth)
        values(#{yhmc},#{jgmc},#{khmc},#{nrj},#{syfd},#{jglb},#{depositType},#{depositMonth})
    </insert>
</mapper>